@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




:root{
    /* Colors */
    --primary-color: #000;

    /* Fonts */
    --title-font:"Jost", sans-serif;
}



a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style-type: none;
}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 5px 35px;

}

.logo{
    font-family: var(--title-font);
    font-size: 1.2rem;
}

.links{

    width: 70%;
    display: flex;
    justify-content: center;
}
.links ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.links ul li a{
    text-decoration: none;
    font-family: var(--title-font);
    color: #000;
}



.user-links{
    display: flex;
    width: 10%;
    justify-content: flex-end;
    gap: 20px;
}

.user-links a{
    font-family: var(--title-font);
    color: #000;
    text-decoration: none;
} 

.button-login{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    border-radius: 15px;
}

.wrapper {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly   ;
  }

.mobile {
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0;
  z-index: -1;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  height: 0;
}

.link-mobile{
  margin: 1rem 0;
   font-size: 3rem;
   font-family: var(--title-font);
}

  @media (width < 1024px) {
    .links{
      display: none;
    }

    .user-links{
      display: none;
    }
  }

  @media (width > 1024px) {
    .ham{
      display: none;
    }
  }

