---
import "../style/style.css";
---

<header>
	<div class="logo">
		<span>logo</span>
	</div>
	<div class="wrapper">
		<nav class="mobile">
			<ul>
				<li class="link-mobile"><a href="#">Inicio</a></li>
				<li class="link-mobile"><a href="#">Menu</a></li>
				<li class="link-mobile"><a href="#">Reservación</a></li>
				<li class="link-mobile"><a href="#">Contacto</a></li>
			</ul>
		</nav>
	</div>
	<nav class="links">
		<ul>
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Menu</a></li>
			<li><a href="#">Reservación</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</nav>
	<nav class="user-links">
		<a href="#"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-1 h-1 width="
				20"
				height="20"
				"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
				></path>
			</svg>
		</a>
		<a href="#"
			><svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-1 h-1 width="
				20"
				height="20"
				"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
				></path>
			</svg>
		</a>
		<a class="button-login" href="#">Login</a>
	</nav>
	<div class="ham">
		<span>☰</span>
	  </div>
</header>



<script>
import gsap from "gsap";

const ham = document.querySelector(".ham");
const menu = document.querySelector('.mobile');
const links = menu.querySelectorAll('.link-mobile');

var tl = gsap.timeline({ paused: true });


tl.to(menu, {
  duration: 1,
  opacity: 1,
  height: '100vh', 
  ease: 'expo.inOut',
})
tl.from(links, {
  duration: 1,
  opacity: 1,
  y: -20,
  stagger: 0.1,
  ease: 'expo.inOut',
}, "-=0.5");


tl.reverse();

ham.addEventListener('click', () => {
  tl.reversed(!tl.reversed());
});
</script>
